/* =============
   index
============= */

#index {
    background-color: $light-grey;
    display: grid;



    #title{
        font-family: 'Cabin Sketch', sans-serif;
        //text-align: center;
        margin: 0 auto;
        position: absolute;
        color: white;
        font-size: rem-calc(28);
        //margin: auto;
        //width: 50%;
        //margin-top: 10%;

        @include md{
            font-size: rem-calc(40);
            margin-left: 15%;
            margin-top: 60px;
        }

        @include lg{
            font-size: rem-calc(50);
            margin-left: 27%;
            margin-top: 70px;
        }

        @include xl{
            margin-top: 40px;
            margin-left: 31%;
        }
        
    }

    #index-hero {
        // img {
        //     object-fit: cover;
        //     width: 100vw;
        //     height: 100vh;
        // }

        background-image: url('../img/hero.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;

        @include md{
            height: 900px;
        }

    }

    #index-content {
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-template-areas: ". content .";

        @include lg{
            grid-template-columns: auto 800px auto;
        }


        >div {
            padding-top: 20px;
            grid-area: content;

            h1 {
                text-align: center;
                font-size: rem-calc(26);

                @include md {
                    font-size: rem-calc(30);
                }
            }

            p {
                text-align: center;
                font-size: rem-calc(18);

                @include md {
                    font-size: rem-calc(20);
                }
            }

            #button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;

                a {
                    background-color: $yellow;
                    color: $black;
                    border-radius: 16px;
                    font-weight: 400;
                    font-size: rem-calc(18);
                    padding: 13px 20px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25%;
                    font-family: 'Montserrat', sans-serif;

                    @include md {
                        font-size: rem-calc(20);
                        padding: 14px 35px;
                    }

                    @include lg {
                        font-size: rem-calc(22);
                        padding: 16px 40px;
                    }

                    &:hover {
                        background-color: $dark-grey;
                    }
                }
            }

        }

    }

}